html{
    margin: 0;
    padding: 0;
    border: 0;
}


.fondo1{
    background-image: url(../img/fondo1.png)  ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo2{
    background-image: url(../img/fondo2.png)  ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c6e1a1;
}

.fondo3{
    background-image: url(../img/fondo3.png) ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c6e1a1;
}

.fondo4{
    background-image: url(../img/fondo4.png) ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c6e1a1;
}

.fondo5{
    background-image: url(../img/fondo5.png) ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c6e1a1;
}

.fondo6{
    background-image: url(../img/fondo6.png) ;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c6e1a1;
}

.conten-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -160px;
    margin-top: 80px;
    width: auto;
}

.titulo{
    display: flex;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 5px 1px 5px #070a0e;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.conten-titulo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    width: auto;
}

.titulo2{
    display: flex;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 5px 1px 5px #070a0e;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.conten-titulo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: -250px;
    width: auto;
}

.titulo3{
    display: flex;
    font-size: 35px;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 5px 1px 5px #070a0e;
}

.conten-titulo4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -250px;
    padding: 46px;
    width: auto;
}

.titulo4{
    display: flex;
    font-size: 40px;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 5px 1px 5px #070a0e;
}

.conten-titulo5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -250px;
    padding: 46px;
    width: auto;
}

.titulo5{
    display: flex;
    font-size: 35px;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 5px 1px 5px #070a0e;
}

.conten-titulo-final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    row-gap: 30px;
    text-shadow: 5px 1px 5px #070a0e;
    width: 100%;
}

.titulo-final{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 30px;

}

a{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    width: auto;
}

.login{
    display: flex;
    flex-direction: column;
    background-image: url(../img/cuadro.png);
    width: 400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.login-final{
    display: flex;
    flex-direction: column;
    background-image: url(../img/cuadro.png);
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.count{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
    text-shadow: 5px 1px 5px #7c7c7c;

}

.contan-campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
    margin-top: -35px;
}

.imagen-login{
    width: 400px;
    height: 400px;
    margin-bottom: -135px;
    margin-top: -50px;
    margin-left: 20px;
}

.campo-login{
    background-color: #ffffff;
    border: none;
    width: 340px;
    height: 50px;
    border-radius: 15px;
    color: #a6d16c;
    font-size: 15pt;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: 1px 1px 9px #070a0e;
    
}


::placeholder{
    color: #2122202f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    padding-left: 10px;
}

.conten-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

label{
    color: #A6D16C;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.conten-button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 300px;
}

.button1 {
    display: flex;
    flex-direction: center;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #a6d16c;
    position: relative;
    border: 1px solid #fdfdfd;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.774);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
}

.button1:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

.button2 {
    display: flex;
    flex-direction: center;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #a6d16c;
    position: relative;
    border: 1px solid #fdfdfd;
    outline: 1px solid;
    outline-color: rgb(255, 255, 255);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    width: 70px;
}

.button2:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 200px;
    text-shadow: 1px 1px 6px #fff;
}

.button3 {
    display: flex;
    flex-direction: center;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #a6d16c;
    position: relative;
    border: 1px solid #fdfdfd;
    outline: 1px solid;
    outline-color: rgb(255, 255, 255);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    width: 80px;
    margin-top: 40px;
}

.button3:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 200px;
    text-shadow: 1px 1px 6px #fff;
}



.buttonR {
    display: flex;
    flex-direction: center;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #aa1a10;
    position: relative;
    border: 1px solid #fdfdfd;
    outline: 1px solid;
    outline-color: rgb(255, 255, 255);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    width: 80px;
    margin-top: 40px;
}

.buttonR:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 200px;
    text-shadow: 1px 1px 6px #fff;
}

.button4 {
    display: flex;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #a6d16c;
    position: relative;
    border: 1px solid #fdfdfd;
    outline: 1px solid;
    outline-color: rgb(255, 255, 255);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    width: 115px;
    margin-top: 20px;
    margin-left: 115px;
}

.button4:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 200px;
    text-shadow: 1px 1px 6px #fff;
}

.conten-sexo{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -270px;
  
}

.imagen-sexo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 100px;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
}

.mujer{
   display: flex;
   flex-direction: row;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   text-decoration: none;
   color: white;
   margin-left: 10px;

}

.conten-barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -100px;
}

.barra{
    width: 400px;
    height: 400px;
    
}

.conten-barra2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-top: -120px;
}

.barra2{
    width: 400px;
    height: 400px;
}

.conten-ejemplo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 250px;
    margin-bottom: 30px;

}

.ejemplo{
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 15px;
    
}

.lds-roller {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin-left: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: flex;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 543px) {
    .titulo{
        font-size: 35px;
    }
  }

  @media (max-width: 385px) {
    .titulo{
        font-size: 28px;
    }
  }

  @media (max-width: 543px) {
    .titulo2{
        font-size: 25px;
    }
  }
 
  @media(max-width: 325px){
      .imagen-sexo{
          width: 70px;
          height: 70px;
      }
  }

  @media (max-width: 420px) {
    .login{
        width: 300px;
        height: 500px;
    }
  }

  @media (max-width: 420px) {
      .campo-login{
          width: 250px;
          height: 35px;
      }
    
  }

  @media (max-width: 420px) {
    .button3{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }
    .buttonR{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }
  
}

@media (max-width: 420px) {
    a{
        font-size: 17px;
        margin-left: -12px;
    
    }
  
}

@media (max-width: 420px) {
    .titulo4{
        font-size: 30px;
        padding-bottom: 12px;
        
    }
}

@media (max-width: 420px) {
    .titulo3{
        font-size: 30px;
        
    }
}

@media (max-width: 420px) {
    .login-final{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .button4{
        margin-left: 85px;
        width: 80px;
       
    }
}

@media (max-width: 420px) {
    .imagen-login{
        width: 300px;
        height: 300px;
        margin-bottom: -90px;
        margin-left: 10px;
    }
}

@media (max-width: 420px) {
    .titulo-final{
        font-size: 30px;
        margin-top: -20px;
       
    }
}

@media (max-width: 960px) {
    .ejemplo{
        width: 250px;
        height: 300px;
       
    }
}

@media (max-width: 800px) {
    .ejemplo{
        width: 200px;
        height: 250px;
       
    }
}

@media (max-width: 960px) {
    .titulo5{
        font-size: 30px;
       
    }
}


@media (max-width: 650px) {
    .conten-ejemplo{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
       
    }
}

@media (max-width: 650px) {
    .ejemplo{
        width: 300px;
        height: 350px;
       
    }
}



